@import '../../styles/variables.scss';

.wrapper {
  width: 90%;
  min-height: 100vh;
  @include maxWidth;
  @include flex;
  flex-direction: column;
  margin: 20rem auto;
}

.title {
  font-size: 7rem;
  font-weight: bold;
  color: $primaryDark;
  max-width: 98rem;

  span {
    color: white;
    background: url('https://images.unsplash.com/photo-1562619371-b67725b6fde2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')
      no-repeat center bottom / cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover !important;
  }
}

.logos {
  width: 100%;
  max-width: 98rem;
  @include flex;
  justify-content: space-between;
  margin: 15rem auto;

  img {
    width: 18rem;
  }
}

.outer_box {
  background: url('https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80')
    no-repeat center center / cover;
  width: 60rem;
  height: 60rem;
  padding: 3rem;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.8);

  .inner_box {
    @include grid;
    grid-template-columns: 1fr 1fr;
    background-color: $brand;
    width: 100%;
    height: 100%;
    padding: 5rem;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.8);

    h1 {
      font-size: 15rem;
      font-weight: bold;
      background: url('https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80')
        no-repeat center center / cover;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: cover !important;
    }
  }
}

.subtitle {
  width: 60rem;
  margin: 10rem;

  h2 {
    font-size: 2.5rem;
    font-weight: normal;
    width: 25rem;
  }

  p {
    font-size: 1.7rem;
    width: 30rem;
    float: right;
    margin-top: 10rem;
  }
}

.app {
  @include maxWidth;
  @include grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;

  .iphone {
    @include flex;
    justify-content: center;
    position: relative;

    img {
      height: 600px;
    }
  }
}

.app_title {
  @include flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;

  h2 {
    font-size: 2.5rem;
    font-weight: normal;
  }

  p {
    font-size: 1.7rem;
    width: 30rem;
  }

  .app_store {
    h3 {
      font-size: 2.2rem;
      font-weight: normal;
      margin: 1rem 0;

      span {
        font-size: 1.4rem;
      }
    }

    p {
      font-size: 1.4rem;
    }

    .stars {
      @include flex;
      justify-content: space-between;
      width: 20rem;

      svg {
        font-size: 2.5rem;
        color: #f5d975;
        margin: 1rem 0;
      }
    }

    button {
      @include flex;
      justify-content: center;
      background-color: #2e2f35;
      width: 20rem;
      padding: 1.5rem 0;
      border-radius: 8px;
      margin: 2rem 0;

      svg {
        font-size: 3.5rem;
        color: white;
        margin-right: 0.5rem;
      }

      p {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 1rem;
        width: fit-content;
        text-align: left;

        span {
          font-size: 2rem;
        }
      }
    }
  }
}
