@import './variables.scss';
@import './breakpoints.scss';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  position: relative;
  background-color: $brand;
  font-family: 'Lato', sans-serif;
}

button {
  cursor: pointer;
}

/************************ Responsive Style Section ************************/

html {
  @include breakpoint(phone) {
    font-size: 50%;
  }

  @include breakpoint(tablet) {
    font-size: 55%;
  }
}
